@using ASP.Server.Controllers
@model CreateBookModel
@{
    ViewData["Title"] = "Add a book";
}

<style>
    form {
        width: 50%;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .input-group {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

    }

    input, textarea, select {
        width: 80%;
        height: 60px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
    }

    label {
        width: 10%;
        text-align: right;
        padding-right: 10px;
        font-size: 14px;
    }

    textarea {
        height: 100px;
    }

    input[type="submit"] {
        width: 100%;
        height: 40px;
        margin-top: 50px;
        background-color: #ddd;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    p {
        font-size: 10px;
    }
</style>
<h1>Add a book</h1>
<form asp-controller="Book" asp-action="Create">
    <div class="input-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </div>

    <div class="input-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" />
    </div>
    <div class="input-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" />
    </div>
    <div class="input-group">
        <label asp-for="Content">Content:</label>
        <textarea asp-for="Content"></textarea>
    </div>

    <p style="color: red ; font-weight: bold;" >Sélectionnez les genres avec (CTRL + clic).</p>

    <div class="input-group">
        <label asp-for="Genres">Genres:</label>
        <select asp-for="Genres" asp-items="@(new SelectList(Model.AllGenres, "Id", "Name"))" multiple></select>
    </div>
    <input type="submit" value="Add" style="width: 100%; margin-top: 50px" />
</form>
